@page
@model WebImoveis.WebApp.Pages.Teste.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Cpf" class="control-label"></label>
                <input asp-for="User.Cpf" class="form-control" />
                <span asp-validation-for="User.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.BirthDate" class="control-label"></label>
                <input asp-for="User.BirthDate" class="form-control" />
                <span asp-validation-for="User.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.RegisterDate" class="control-label"></label>
                <input asp-for="User.RegisterDate" class="form-control" />
                <span asp-validation-for="User.RegisterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.UserType" class="control-label"></label>
                <select asp-for="User.UserType" class="form-control">Administrator</select>
                <select asp-for="User.UserType" class="form-control">Renter</select>
                <select asp-for="User.UserType" class="form-control">Seller</select>
                <span asp-validation-for="User.UserType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
